.modal-overlay {
    /* center the overlay */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* center the modal */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    /* personalize the overlay color and opacity */
    background-color: rgba(32, 40, 11, 0.7);
}

.modal-content {
    /* personalize the modal */
    background: white;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    position: relative; /* to position the close button */
    font-weight: bold;
}

.modal-close {
    /* position the close button */
    position: absolute;
    top: 10px;
    right: 10px;
    /* personalize the close button */
    background-color: #738821;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modal-close:hover {
    /* personalize the close button hover effect */
    background-color: #B8CD4E;
}

